run = ["bash", "main.sh"]

entrypoint = "main.sh"

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 25569
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 34475
externalPort = 5000

[[ports]]
localPort = 35401
externalPort = 8099

[[ports]]
localPort = 35711
externalPort = 3002

[[ports]]
localPort = 35941
externalPort = 8008

[[ports]]
localPort = 36481
externalPort = 6000

[[ports]]
localPort = 38201
externalPort = 9000

[[ports]]
localPort = 39365
externalPort = 8080

[[ports]]
localPort = 40741
externalPort = 6800

[[ports]]
localPort = 41609
externalPort = 4200

[[ports]]
localPort = 41787
externalPort = 3003

[[ports]]
localPort = 42795
externalPort = 8081

[[ports]]
localPort = 45325

[[ports]]
localPort = 46777
